
{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}
{% import 'macros.html' as macros %}
{% from 'bootstrap/table.html' import render_table %}
{% block content %}
<h1>Published the following Pages from <a href="{{ sourceUrl }}">{{ source }}</a> to <a href="{{ targetUrl }}">{{ target }}</a></h1>
    <h2>Publish Progress</h2>
    {{ publishProgress.progressMessages(-1, completdeMsg="Publish completed")|safe }}
{% endblock %}
