
{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}
{% import 'macros.html' as macros %}
{% from 'bootstrap/table.html' import render_table %}
{% block content %}
    <h1>Publishing of the {{ series }} Series</h1>
    {{ render_form(publishForm) }}
    <a href="https://confident.dbis.rwth-aachen.de/orfixed/index.php?title=Orapi#Publishing">Orapi Publishing Documentation</a>

    {% if seriesSourceWiki %}
        <h1>Selected Series (Series to be published)</h1>
        {{ seriesSourceWiki.progressWithDisplayOfResult()|safe }}
    {% endif %}

    {% if publishProgress %}
        <h1>Publishing progress</h1>
        {{ publishProgress.progressWithDisplayOfResult()|safe }}
    {% endif %}
{% endblock %}
